body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding:
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  padding: 13px 55px 8px 55px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.inner-page-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;

}

.inner-page-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.top-header-layout {
  background-color: #293449;
}

.top-header {
  display: flex;
  align-items: center;
  margin-top: -1px;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.header-logo {
  padding: 13px 55px 8px 55px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.search-form {
  display: flex;
  position: relative;
  width: 250px;
  height: 42px;
}

.search-area-label {
  width: 45px;
  order: -1;
}

.search-icon {
  padding-left: 13px;
  padding-top: 12px;
  opacity: 0.3;
}

.search-area-field {
  width: 100%;
  border: none;
  color: #ffffff;
  background-color: #293449;
}


.top-header a {
  color: #ffffff;
}

.bookmarks {
  position: relative;
  min-width: 150px;
  padding: 12px 25px 13px 44px;
  box-sizing: border-box;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart {
  position: relative;
  min-width: 150px;
  padding: 12px 26px 13px 49px;
  box-sizing: border-box;
}

.cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
}
.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}


.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}

.order-button {
  min-width: 150px;
  padding: 12px 22px 13px 20px;
  box-sizing: border-box;
  background-color: #63a63e;
}

.order-button:hover {
  background-color: #5fbb2d;
}

.order-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.main-header-layout {
  padding-bottom: 64px;
  background-color: #f4f7f9;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 39px;
  background-color: #f4f7f9;
}

.main-header-left {
  margin-top: 0;
  margin-left: 52px;
}

.main-title {
  width: 197px;
  margin: 0;
  padding:0;
  margin-top: 2px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
}

.main-header-center {
  margin-left: 4px;
}

.main-header-center-catalog {
  margin-left: 18px;
}

.main-header-center p {
  margin: 0;
  padding: 0;
}

.main-header-center .phone-number {
  position: relative;
  min-width: 270px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 18px;
  padding-bottom: 10px;
  margin-left: -6px;
  margin-right: -8px;
  margin-bottom: 2px;
  text-align: center;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.main-header-center .phone-number-inner{
  padding-left: 21px;
}

.phone-number::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: 12px;
  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-header-center .adress {
  margin-left: 3px;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.main-header-right ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-link .button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 12px;
  padding-right: 26px;
  padding-bottom: 12px;
  padding-left: 48px;
  box-sizing: border-box;
}

.login-link .button::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.login-link:hover .button::before {
  opacity: 1;
}

.login-link:active .button::before {
  opacity: 0.3;
}

.registration-link {
  margin-left: 10px;
}

.registration-link .button {
  display: inline-block;
  vertical-align: middle;
  min-width: 150px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 24px;
  box-sizing: border-box;
}

.main-header-right a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.main-header-right .button:hover {
  color: #ee3643;
}

.main-header-right .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.site-navigation {
  display: flex;
  justify-content:space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-item a {
  display: inline-block;
  vertical-align: middle;
  padding: 19px 33px;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.site-navigation-item:hover {
  background-color: #293449;
}

.site-navigation-item a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.cart-full {
  background-color: #ee3643;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  background-color: #ffffff;
}

.user-profile .user-name {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 12px;
  padding-right: 6px;
  padding-bottom: 12px;
  padding-left: 32px;
}

.user-profile .user-name::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -2px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-profile a:active {
  color: rgba(0, 0, 0, 0.3);
}

.exit-profile {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.exit-profile .icon-logout {
  width: 21px;
  height: 17px;
  padding-top: 4px;
  margin-right: -7px;
  opacity: 0.3;
}

.user-name:hover::before,
.icon-logout:hover {
  opacity: 1;
}

.user-name:active::before,
.icon-logout:active {
  opacity: 0.3;
}

.user-profile-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.user-profile-menu a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  background-color: #f2f6f8;
}

.user-profile-menu a:first-child {
  position: relative;
  margin-left: 18px;
  margin-right: 14px;
}

.my-orders::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 0;
  height: 0;
  border: 2px solid #32425c;
  border-radius: 50%;

}

.user-profile-menu a:hover {
  color: #ee3643;
}

.user-profile-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 21px 0;

}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
  list-style: none;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -23px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-content h1 {
  margin: 0;
  margin-bottom: 21px;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 28px;
}

.catalog-section {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter h2 {
  margin: 0;
  margin-bottom: 11px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 19px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.filter-form {
    width: 220px;
}

.catalog {
    min-width: 720px;
}

.catalog-sorting {

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

    margin-bottom: 20px;
    margin-left: 20px;

    -webkit-border-radius: 2px;

            border-radius: 2px;

    background-color: #f7f3ec;
}

.catalog-list {
  display: flex;
  margin: 0;
  margin-bottom: 42px;
   margin-left: 20px;
  padding: 0;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}
/*/////////CONTENT////*/
.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;
}

.about-shop {
    width: 540px;
}

.about-shop h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.about-shop p {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-shop p:last-of-type {
  margin-bottom: 21px;
}

.about-shop a {
  padding: 11px 40px 11px 40px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.about-shop a:hover {
    background-color: #ca2c37;
}

.about-shop a:active {
    background-color: #ba2732;
}

.delivery-company {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  list-style: none;
}

.delivery-company li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
}

.delivery-company li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -1px;
  width: 23px;
  height: 0;
  border: 1px solid #ee3643;

}
.contacts {
  width: 300px;
}

.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p:first-of-type {
  width: 180px;
}

.contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.map {
  margin-bottom: 44px;
}

.contacts .button {
  padding: 11px 62px 11px 60px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.contacts .button:hover {
  background-color: #ca2c37;
}

.contacts .button:active {
  background-color: #ba2732;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 42px;
  margin-left: 20px;
  padding: 0;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.catalog-item {
  position: relative;
  width: 218px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item::after {
  display: none;
  content: url("../img/flag-new.png");
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
}

.catalog-item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 10px 25px 0 rgba(41, 52,73, 0.5);
}

.catalog-item .title {
  margin: 0;
  margin-top: 6px;
  margin-bottom: -4px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item .sale {
  min-height: 20px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 3px;
  color: #999999;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
}

.catalog-item .sale-hidden {
  visibility: hidden;
}








/*//////FOOOTER//////*/

.main-footer-layout {
  width: 100%;
  background-color: #32425c;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: #32425c;
}
.main-footer-left {
  display: flex;
 flex-direction: column;
 color: #f1f5f7;
}

.footer-logo {
  margin-bottom: 7px;
}

.main-footer-left p {
  padding-left: 3px;
  margin-bottom: 49px
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-footer-right ul {
  list-style: none;
}

.site-sections {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin: 0;
  padding: 0;
  margin-top: 39px;
  margin-bottom : 34px;
}

.site-sections a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.site-sections a:hover {
  text-decoration: underline;
}

.site-sections a:active {
  color: rgba(241, 245, 247, 0.5);
}

.product-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  width: 525px;
  margin: 0;
  padding: 0;
}

.product-categories a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.product-categories a:hover {
  text-decoration: underline;
}

.product-categories a:active {
    color: rgba(255, 209, 128, 0.5);
}

.bottom-footer-layout {
  width: 100%;
  background-color: #293449;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #293449;
}

.bottom-footer-left {
    margin-right: 40px;
}

.bottom-footer-left p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.bottom-footer-center ul {
  list-style: none;
}

.social-items {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-button {
  margin-left: 5px;
}

.social-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button a:hover,
.social-button a:active {
  background-color: #ee3643;
}

.bottom-footer-right {
  display: flex;
  padding-right: 15px;
  font-size: 16px;
  line-height: 18px;
}

.bottom-footer-right p {
  display: flex;
  flex-direction: column;
}

.bottom-footer-right p:first-child {
  margin-right: 51px;
}

.bottom-footer-right span {
  color: #ffffff;
}

.bottom-footer-right a {
  color: #ffd180;
}

.bottom-footer-right a:hover {
  text-decoration: underline;
}

.bottom-footer-right a:active {
  color: #ee3643;
}










/*модальные окна*/
.modal-map {
  display: none
}

.modal-feedback{
 display: none
}
.modal-basket
{
 display: none
}
